* {
	font-size: 1.2rem;
	font-family: 'K2D', sans-serif;
	color: #4A4A4B;
}

*:focus {
	outline: none; 
}

::placeholder {
    color: #C3C1CA;
    padding-left: 3px;
}

#userinput:focus {
	border-color: #FF8C91;
}

::selection {
  background: #FF524F;
  color: white;
}

div	{
	width: 370px;
	margin: auto;
}

h1 {
	font-size: 1.7rem;
	margin: 0;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 190px;
    background-color: #EBEBEF;
    color:#E74D4E;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 2px;
    right: 105%;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.tooltip:focus .tooltiptext {
    visibility: visible;
}

button {
	border-radius: 5px;
	color: dimgrey;
	padding: 0 15px;
	border: 3px solid lightgrey;
}

button:hover {
	background-color: lightgrey;
}

input {
	border-radius: 5px;
	border: 2px solid gainsboro;
	padding-left: 5px;
}

li {
	cursor: default;
	width: 242px;
	line-height: 2em;
}

.done {
  text-decoration: line-through;
  text-decoration-color: black;
  color: grey;

}

button:active {
	border-color: #FF6961;
	background-color: #FF6961;
	color: white;
}

.deleteButton {
	margin-top: 9px;
	display: inline-block;
	position: relative;
	float: right;
	cursor: pointer;
	vertical-align: middle;
	font-size: 50%;
	padding: 5px 9px;
	border: 3px solid lightgrey;
	border-radius: 50%;
	outline: none;
}

.almostDelete {
	color: white;
	background-color: #E74D4E;
	border-color: #C3C1CA;
}

.almostDelete:hover {
	background-color: #FF524F;
	border-color: #FF524F;
}

.alldone {
	display: none;
}

.addImg {
	opacity: 0.8;
	display: block;
}
